doctype html
html
    head
        include head.pug
        script(src="/js/room.js")
    body
        .header
            .container
                h1
                    a(href='/') Cloud Tetris
        .container.posts.mt-0
            h3
                p Current Rooms
            ul(id="rooms")
                each room in rooms
                    a(href="/room/" + room._id)=room._id
                    br
                else
                    li There are no rooms

            button(onclick="addRoom()" class="btn btn-primary") Create Room
